
{% assign baselineLabel = baseline | default: feature.data.baseline %}
{% assign baselineIcon = "baseline-" | append: baselineLabel %}

{% assign functionalLabel = functional | default: feature.data.functional %}
{% assign functionalIcon = "functional-" | append: functionalLabel %}

{% assign usageLabel = usage | default: feature.data.usage %}
{% assign usageIcon = "usage-" | append: usageLabel %}

<dl class="support-definitions spectrum-Body spectrum-Body--sizeS">
    <div>
        <dt>
            <span class="icon">{% icon baselineIcon %}</span>
            <strong>Baseline:</strong>
        </dt>
        <dd>{{ baselineLabel | titleCase }}</dd>
    </div>
    <div>
        <dt>
            <span class="icon">{% icon functionalIcon %}</span>
            <strong>Functional:</strong>
        </dt>
        <dd>{{ functionalLabel | titleCase }}</dd>
    </div>
    <div>
        <dt>
            <span class="icon">{% icon usageIcon %}</span>
            <strong>Usage:</strong>
        </dt>
        <dd>{{ usageLabel | titleCase }}</dd>
    </div>
</dl>