/*
 * Copyright 2026 Adobe. All rights reserved.
 * 
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.layout--feature {
  article {
    margin-block-start: max(4vh, var(--spectrum-spacing-200));
  }

  aside {
    ul {
      padding-inline-start: 2em;
      display: grid;
      gap: var(--spectrum-spacing-100);
    }
  }
}

.feature {
  display: grid;
  gap: var(--spectrum-spacing-400);

  @media (min-width: 900px) {
    grid-template-columns: minmax(30ch, 75%) minmax(30ch, 1fr);
  }

  .layout--feature & {
    gap: 0;
  }
}

.feature-card {
  border-inline-start: 10px solid var(--feature-support-color, var(--color-accepted));
  padding: var(--spectrum-spacing-400) var(--spectrum-spacing-500);
  box-shadow:
    0 4px 8px 3px color-mix(in hsl, transparent, var(--text-body) 15%),
    0 1px 3px color-mix(in hsl, transparent, var(--text-body) 15%);
  border-radius: 0 8px 8px 0;

  display: grid;
  gap: var(--spectrum-spacing-300);
  position: relative;
}

.feature-card--supported {
  --feature-support-color: var(--color-supported);
}

.feature-card--caution {
  --feature-support-color: var(--color-caution);
}

.feature-card--discouraged {
  --feature-support-color: var(--color-negative);
}

.feature-card__header {
  display: grid;
  gap: var(--spectrum-spacing-200);
}

.feature-card__body {
  display: grid;
  gap: var(--spectrum-spacing-200) var(--spectrum-spacing-400);
  align-items: start;

  @media (min-width: 60ch) {
    grid-template-columns: auto 1fr;
  }
}

.feature-card__blog-cta,
.feature-layout__blog-posts {
  display: grid;
  gap: var(--spectrum-spacing-100);
  background-image: linear-gradient(20deg, #eff6ff 13%, #d5e7ff 69%);
  border-radius: 4px;
}

.feature-layout__blog-posts {
  border-radius: 0 4px 4px 0;
  margin-block-start: 1lh;
}

.feature-card__anchor {
  position: absolute;
  inset-inline-start: 0;
  /* A tiny bit magic to visually align with title */
  inset-block-start: 27px;
  padding: 0.15em 0.25em;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  color: var(--text-body);
  background-color: var(--background-neutral);
  text-decoration: none;
  border-radius: 0;

  @media (min-width: 900px) {
    /* Account for border width (10px) */
    transform: translateX(calc(-100% - 10px));
  }
}
