footer {
  background-color: var(--background-neutral-light);
  color: var(--text-medium);
  padding-block: var(--spectrum-spacing-400);
}

#keys {
  display: grid;
  align-items: start;
  gap: var(--spectrum-spacing-200) var(--spectrum-spacing-400);

  @media (min-width: 80ch) {
    grid-template-columns: auto repeat(2, fit-content(35ch));
    justify-content: space-between;
  }
}

#copyright {
  border-top: 1px solid #c4c4c4;
  padding-block-start: var(--spectrum-spacing-400);
  margin-block-start: var(--spectrum-spacing-600);
}
