---
layout: base.liquid
---

<header>
    <div class="wrapper">
       <h1 class="spectrum-Heading spectrum-Heading--sizeXXL">{{ title }}</h1>
       {% comment %} TODO: populate more aspects of the feature template {% endcomment %}
    </div>
</header>

<main class="wrapper">
    {{ content }}
</main>