{% comment %}
/*
 * Copyright 2025 Adobe. All rights reserved.
 * 
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/
{% endcomment %}
{%- if passingTests -%}
    {%- assign status = "pass" -%}
{%- else -%}
    {%- assign status = "fail" -%}
{%- endif -%}
<tr data-status="{{ status }}">
    <th class="test-row-header spectrum-Body spectrum-Body--sizeS" scope="row">
    {{ test[0] }}
    </th>
    {% for result in test[1] %}
        {%- assign status = result[1] | downcase -%}
        <td>
            {% testResult status %}
                {{ status }}
            {% endtestResult %}
        </td>
    {% endfor %}
</tr>