/*
 * Copyright 2025 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
    var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:target {
  scroll-margin-block-start: 8vh;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  /* Round out focus-visible outline */
  border-radius: 4px;
}

a:not([class]) {
  color: var(--text-body);
}

a {
  text-decoration-thickness: 0.08em;
  text-underline-offset: max(0.15em, 1px);
}

p,
li {
  text-wrap: pretty;
  max-inline-size: 90ch;
}

[role="list"] {
  list-style: none;
  padding: 0;
}
