.wrapper {
  inline-size: min(1200px, 100% - max(5%, var(--spectrum-spacing-400)));
  margin-inline: auto;
}

.flex-row {
  display: flex;
  align-items: var(--flex-row-alignment, center);
  gap: 1rem;

  &.flex-row--baseline {
    --flex-row-alignment: baseline;
  }
}

.stack {
  display: grid;
  gap: var(--stack-gap, max(var(--spectrum-spacing-200), 4vh));
  align-items: start;
}

.stack--list {
  --stack-gap: var(--spectrum-spacing-100);
}

.flow-content * + * {
  margin-block-start: 1em;
}

.text--adobe {
  color: var(--color-adobe);
}

.text-wrap--pretty {
  text-wrap: pretty;
}

.text-wrap--balance {
  text-wrap: balance;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
