/*
 * Copyright 2025 Adobe. All rights reserved.
 * 
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.wrapper {
  inline-size: min(1200px, 100% - max(5%, var(--spectrum-spacing-400)));
  margin-inline: auto;
}

.table-wrapper {
  overflow-x: auto;
}

.flex-row {
  display: flex;
  align-items: var(--flex-row-alignment, center);
  gap: var(--flex-row-gap, 1rem);

  &.flex-row--baseline {
    --flex-row-alignment: baseline;
  }
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
  gap: var(--spectrum-spacing-200) var(--spectrum-spacing-400);
  align-items: start;
  justify-items: start;
}

.stack {
  display: grid;
  gap: var(--stack-gap, max(var(--spectrum-spacing-200), 4vh));
  align-items: start;
}

.stack--gapS {
  --stack-gap: var(--spectrum-spacing-100);
}

.stack--gapM {
  --stack-gap: var(--spectrum-spacing-300);
}

.padded {
  padding: var(--spectrum-spacing-200) var(--spectrum-spacing-400);
}

.icon-list {
  li {
    display: grid;
    grid-template-columns: 24px auto;
    gap: var(--spectrum-spacing-100);
    align-items: center;
  }
}

.icon {
  --_icon-size: var(--icon-size, 20px);

  display: grid;
  place-content: center;
  block-size: var(--icon-block-size, var(--_icon-size));
  inline-size: var(--icon-inline-size, var(--_icon-size));
}

.flow-content * + * {
  margin-block-start: 1em;
}

.text-color--adobe {
  color: var(--color-adobe);
}

.text-color--medium {
  color: var(--text-medium);
}

.text-wrap--pretty {
  text-wrap: pretty;
}

.text-wrap--balance {
  text-wrap: balance;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
